.App {
  background-image: url(../../assets/fundo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Title {
  font-size: 30px;
  padding: 10%;
}
.ButtonMenu {
  background-color: transparent;
  margin: 1%;
  border-color: violet;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
}
